<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body wizard-content">
              <form class="tab-wizard wizard-circle" [formGroup]="formulario" (ngSubmit)="actualizarEmpleado()">
                  <!-- Step 1 -->
                  <section>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="firstName1">No. Empleado</label>
                                  <input formControlName="id" type="text" class="form-control" id="id" [value]="empleado?.id" ></div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="lastName1">Nombre</label>
                                  <input formControlName="nombre" type="text" class="form-control" id="nombre" [value]="empleado?.nombre"> </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="emailAddress1">Apellido Paterno</label>
                                  <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" [value]="empleado?.apellidoPaterno"> </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="phoneNumber1">Apellido Materno</label>
                                  <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" [value]="empleado?.apellidoMaterno"> </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="location1">Puesto</label>
                                  <select formControlName="puesto"  class="custom-select form-control" id="puesto" name="location" >
                                      <option *ngFor="let puesto of puestos" [ngValue]="puesto?.id">{{puesto.nombre}}</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="location1">Jefe Inmediato</label>
                                <select formControlName="jefe"  class="custom-select form-control" id="jefe" name="location">
                                    <option *ngFor="let gerente of gerentes" [ngValue]="gerente?.id">{{gerente.apellidoPaterno}} {{gerente.apellidoMaterno}} {{gerente.nombre}}</option>
                                </select>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" >Actualizar</button>
                        </div>
                    </div>
                  </section>
              </form>
          </div>
      </div>
  </div>
</div>
